@charset "utf-8";
/* CSS Document */
/*--------------------------------------------------------------

>>> TABLE OF CONTENTS:

----------------------------------------------------------------

1.0 - Typography
	1.1 - Headings
	1.2 - Body Copy
	1.3 - Buttons
	1.4 - Forms
	1.5 - Lists

2.0 - Navigation Menus
	2.1 - Main
	2.2 - Sub

3.0 - Content
	3.1 - Site Structure
	3.2 - Site Header
	3.3 - Site Footer

4.0 - Media

5.0 - Utility
	5.1 - Colors
	5.2 - Alignments

6.0 - Responsive/Media Queries

7.0 - Browser Adjustments

--------------------------------------------------------------*/

/*--------------------------------------------------------------
1.0 - Typography
-------------------------------------------------------------- */

ul, p, header, h3 {
	-webkit-margin-before: 0;
    -webkit-margin-after: 0;
}

header, h2, p, form, ul, #tooltip {
	font-family: 'Poppins', sans-serif;
}

abbr {
	font-family: 'Zilla Slab', serif;
}

#about form input, #about form p, header li, footer li, body > div:nth-child(4) p {
	display: inline-block;
}

body > section:nth-child(2), h1, h2, #services > div > p:nth-child(2), #services > div > .row:nth-child(3), #services .col-1-2 > p:last-child, tooltip, header ul, footer ul, .abso.col-2-5 .col-1-2, .col-1-5, #about h3 {
	text-align: center;
}

nav ul, .abso.col-1-3 > p:first-child, #services .col-2-3 p:first-child, h3, #services li {
	text-transform: uppercase;
}

h3, header li, #about .col-1-2 p:nth-child(2), #about .col-1-2.abso, body > div:nth-child(4) p:first-child, .col-7-12 label {
	font-weight: 600;
}

nav a, .col-1-6 a, h2, h3, #services ul, #tooltip, p, footer li a:hover, .col-7-12 label {
	color: #262262;
}

#services .col-2-3 p:first-child, h3::before, footer li a, nav a:hover, .col-1-6 a:hover {
	color: #00a8e1;
}

/*	1.1 - Headings        */

h3 {
	font-size: 1.5rem;
}

h2, #about h3 {
	font-size: 2rem;
}

/*	1.2 - Body Copy       */

#about .col-1-2 p:nth-child(2) {
	margin-bottom: .5rem;
}

.col-2-5 > div p:first-child, .col-2-5 > p:first-child, body > section:nth-child(2) p, #services p span, #services .rel p, #services .col-1-2 > p, #services li, .col-1-6 {
	font-weight: 500;
}

.col-2-5 p, a {
	color: #fff;
}

.col-2-5 p:nth-child(2), .col-2-5 div p, body > section:nth-child(2) p, #services p span, #about .col-1-2 p {
	font-size: 1.2rem;
}

.col-2-5 p:nth-child(2), body > section:nth-child(2) p, #services p span, #about .col-1-2 p, #services .col-1-2 > p {
	line-height: 2rem;
}

.col-2-5 > p:first-child {
	font-size: 3rem;
}

.col-2-5 p:nth-child(2), #services section > p, .col-2-5 p:last-child, .col-3-4, .col-1-6 {
	line-height: 1.8rem;
}

#services h3::before {
	font-size: 3.7rem;
}

#services .rel p {
	font-size: .8rem;
}



/*	1.3 - Buttons         */

a, abbr[title] {
	text-decoration: none;
}

	/* tooltip */
abbr {
	border: 2px solid #262262;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	padding: 0 .45rem .05rem;
	text-transform: lowercase;
}

#tooltip
{
    background: #fff;
    border: 2px solid #00a8e1;
	-webkit-border-radius: .5rem;
	-moz-border-radius: .5rem;
	-ms-border-radius: .5rem;
	-o-border-radius: .5rem;
	border-radius: .5rem;
    z-index: 100;
    padding: 15px;
}
 
    #tooltip:before /* triangle decoration */
    {
        width: 0;
        border-top: 10px solid transparent;
        border-right: 10px solid #00a8e1;
        border-bottom: 10px solid transparent;
        content: '';
        left: -10px;
        top: 50%;
        margin-top: -10px;
    }
 
#services a, form a, .col-2-5 .col-1-2, body > div:nth-child(4) p:last-child {
	background-color: #00a8e1;
}

#services a, form a, .col-2-5 .col-1-2, body > div:nth-child(4) p:last-child, input, textarea {
	padding-top: .6rem;
	padding-bottom: .6rem;
}


#services a, form a, .col-2-3 a {
	padding-right: 2.5rem;
	padding-left: 2.5rem;
}

 body > div:nth-child(4) p:first-child {
	margin-right: 1rem;
}

/*	1.4 - Forms           */

#about form label, #tooltip {
	display: block;
}

form > input, textarea {
	margin-bottom: 1.5rem;
}

input, textarea {
	padding-left: .6rem;
}

#news-email {
	width: 65%;
	margin-top: .4rem;
}

/*	1.5 - Lists           */

header li {
	padding: 1rem 4%;
}


/*--------------------------------------------------------------
2.0 - Navigation Menus
-------------------------------------------------------------- */

/*	2.1 - Main             */

nav {
	margin-bottom: 6rem;
}


/*	2.2 - Sub (social media)              */

footer li {
	margin: 1rem 3% 3rem;
}

/*--------------------------------------------------------------
3.0 - Content
-------------------------------------------------------------- */

#home span, label, #services .col-1-2 span, li span, #services .col-1-4 .col-3-4 span {
	display: none;
}

#services > div:first-child .col-2-3 h3::before {
	content: "5";
}

#services > div:nth-child(3) .row:first-child > .col-1-2:first-child h3::before {
	content: "4";
}

#services > div:nth-child(3) .row:first-child > .col-1-2:nth-child(2) h3::before {
	content: "3";
}

#services > div:nth-child(3) .row:nth-child(2) > .col-1-2:first-child h3::before {
	content: "2";
}

#services > div:nth-child(3) .row:nth-child(2) > .col-1-2:nth-child(2) h3::before {
	content: "1";
}


/*	3.1 - Site Structure    */


body > div:nth-child(5), body > section, .main-gallery  {
	margin-bottom: 10rem;
}

.col-1-4 .col-1-4, .col-1-5 .col-1-4 {
	padding: 3rem 15% 1rem;
}

.col-1-6 {
	padding-right: 0;
}

#services .rel p, .abso.col-2-5 .col-1-2, .col-1-6 {
	padding-left: 1rem;
}

#services .rel {
	padding: 1rem 1.5rem 0;
	margin-bottom: .5rem;
}

#services section, #services, #about form, #about h3 {
	margin-top: 6rem;;
}

#services .col-1-3 {
	padding-top: 2.2rem;
}

#services ul {
	-o-column-count: 3;
    -o-column-gap: 3rem;
	-ms-column-count: 3;
    -ms-column-gap: 3rem;
    -moz-column-count: 3;
    -moz-column-gap: 3rem;
    -webkit-column-count: 3;
    -webkit-column-gap: 3rem;
    column-count: 3;
    column-gap: 3rem;
	margin: 1rem 0 2rem;
}

#services h3::before, footer .bg-blue {
	z-index: -1;
}

ul {
	list-style: none;
	-moz-padding-start: 0;
	-webkit-padding-start: 0;
}

#adventure, .gallery-cell, footer .bg-blue, footer form input, textarea, .map-responsive iframe, #services .abso {
	width: 100%;
}

.gallery-cell, #adventure {
	height: 75vh;
}

.rel, .map-responsive iframe, #services h3::before, #services .abso {
	top: 0;
}

.rel, footer .bg-blue, .map-responsive iframe, #services h3::before, #services .abso {
	left: 0;
}

#about .col-1-2.abso {
	left: 12rem;
	bottom: 1.75rem;
}

body > section:nth-child(2) {
	top: -7rem;
}

/*	3.2 - Site Header       */

body > .bg-gray .abso {
	top: 30rem;
	left: 48%;
}

.col-2-5 .col-1-2 {
	padding-right: 1rem;
}

/*	3.3 - Site Footer       */

footer {
	border-bottom: 10px solid #00a8e1;
	padding-bottom: 10rem;
}

footer .bg-blue {
	height: 60rem;
	-webkit-clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 100%);
	clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 100%);
	bottom: 0;
}

/*--------------------------------------------------------------
4.0 - Media
-------------------------------------------------------------- */



#adventure {
	background: url(../img/bg-adventure.jpg) 0 center no-repeat;
	-webkit-clip-path: polygon(0 0, 100% 10%, 100% 90%, 0 80%);
	clip-path: polygon(0 0, 100% 10%, 100% 90%, 0 80%);
}

.bg-gray:nth-child(5) {
	-webkit-clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 90%);
	clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 90%);
}

body > div:first-child .bg-blue {
	-webkit-clip-path: polygon(0 0, 100% 0%, 100% 90%, 0 80%);
	clip-path: polygon(0 0, 100% 0%, 100% 90%, 0 80%);
}

body > div:first-child {
	-webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 90%);
	clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 90%);
} 

#diamond {
	background: url(../img/aside-surfers.jpg) 0 0 no-repeat;
	-webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
	clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
	height: 350px;
	width: 350px;
}

.gallery-cell {
	-webkit-clip-path: polygon(0 10%, 100% 0%, 100% 90%, 0 100%);
	clip-path: polygon(0 10%, 100% 0%, 100% 90%, 0 100%);
}

.gallery-cell:first-child {
	background: url(../img/gallery-active-surfers.jpg) 0 50% no-repeat;
}

.gallery-cell:nth-child(2) {
	background: url(../img/gallery-surf-splash.jpg) 0 40% no-repeat;
}

.gallery-cell:nth-child(3) {
	background: url(../img/gallery-fatherson-surf.jpg) 0 0 no-repeat;
}

.gallery-cell:nth-child(4) {
	background: url(../img/gallery-wave.jpg) 0 center no-repeat;
}

.gallery-cell:last-child {
	background: url(../img/gallery-cove.jpg) 0 center no-repeat;
}

#home {
	height: 58rem;
	background: url(../img/bg-hero.jpg) center 90% no-repeat;
	-webkit-clip-path: polygon(0 0, 100% 0%, 100% 65%, 0 55%);
	clip-path: polygon(0 0, 100% 0%, 100% 65%, 0 55%); 
}

#services .bg-gray {
	-webkit-clip-path: polygon(0 10%, 100% 0, 100% 50%, 0 60%);
	clip-path: polygon(0 10%, 100% 0, 100% 50%, 0 60%);
	height: 130vh;
}

#services .abso {
	background: url(../img/bg-surfers.jpg) 0 center no-repeat;
	-webkit-clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);
	clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);
	z-index: -2;
}

/* MAP */

.map-responsive, #tooltip:before {
	height: 0;
}

.map-responsive{
    overflow: hidden;
    padding-bottom: 56.25%;
}

.map-responsive iframe {
    height: 100%;
}

#adventure, #diamond, #home, .gallery-cell:nth-child(odd), .gallery-cell:nth-child(even), #services .abso {
	-moz-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
	-webkit-background-size: cover;
	background-size: cover;
}

/*--------------------------------------------------------------
5.0 - Utility
-------------------------------------------------------------- */

/*	5.1 - Colors            */



.bg-blue, #services a:hover, form a:hover, .abso.col-2-5 .col-1-2:hover, body > div:nth-child(4) p:last-child:hover {
	background-color: #262262;
}

.bg-gray {
	background-color: #e6e7e8;
}

/*	5.2 - Alignments        */

.abso, #services h3::before, #tooltip, #tooltip:before {
	position: absolute;
}

.rel {
	position: relative;
}

.cntr-block {
	margin: 0 auto;
}

.float-right {
	float: right;
}

.no-float {
	float: none;
}



/*--------------------------------------------------------------
6.0 - Responsive/Media Queries
-------------------------------------------------------------- */

@media screen and (max-width: 480px) {
	
	/*--------------------------------------------------------------

	>>> TABLE OF CONTENTS:

	----------------------------------------------------------------

	1.0 - Widths

	2.0 - Heights

	3.0 - Type (sizes and align)

	4.0 - Margins and Padding

	5.0 - Positioning

	6.0 - Clipping Paths

	--------------------------------------------------------------*/
	
	
	/* 1.0 - WIDTHS */
	
	#about .col-1-2, #services .col-1-2, .col-1-2.no-float, .col-1-6, .col-2-3.float-right, .col-7-12, #services div.col-1-4.row, footer .wrapper:nth-child(2), footer .col-2-3 {
		width: 100%;
	}
	
	.col-1-2 .col-1-2, #about .col-1-2.abso {
		width: 50%;
	}
	
	h1 img {
		width: 65%;
	}
	
	/* 2.0 - HEIGHTS */
	
	footer .bg-blue {
		height: 45rem;
	}
	
	.gallery-cell, #adventure {
		height: 40vh;
	}
	
	/* 3.0 - TEXT */
	
	/* sizes */
	h3 {
		font-size: 1.3rem;
	}

	h2, #about h3 {
		font-size: 1.8rem;
	}
	
	.col-2-5 > p:first-child {
		font-size: 1.5rem;
	}
	
	.col-2-5 p:nth-child(2), body > section:nth-child(2) p, #services p span, #about .col-1-2 p, #services .col-1-2 > p {
		font-size: 1rem;
		line-height: 1.8rem;
	}

	#services section > p, .col-1-6 {
		line-height: 1.3rem;
	}


	#services h3::before {
		font-size: 3.5rem;
	}

	nav, .col-2-5 div p {
		font-size: .8rem;
	}
	
	/* center */
	
	.col-2-5, .col-1-6, #about .col-1-2 p {
		text-align: center;
	}
	
	
	
	/* 4.0 - MARGINS AND PADDING */
	
	nav {
		margin-bottom: 2rem;
	}
	
	.col-1-4 .col-1-4, .col-1-5 .col-1-4 {
		padding: 0;
	}
	
	.col-1-4 .col-3-4, .col-1-5 .col-3-4 {
		padding: 10% 0 10% 1.5rem;
		margin-bottom: 0;
		text-align: left;
	}
	
	.col-2-5 > p:first-child {
		padding: 0 .5rem 2rem 6.5rem;
	}
	
	.col-2-5 .col-1-2 {
		margin-left: 5.5rem;
	}
	
	.col-2-5 {
		padding: 0 5%;
	}
	
	#diamond {
		margin: 0 auto;
	}
	
	#services > div > p:nth-child(2), #about h3, body > div:nth-child(5), body > section, .main-gallery {
		margin-bottom: 3rem;
	}
	
	#services section, #services, #about form, #about h3 {
		margin-top: 3rem;
	}
	
	/* 5.0 - POSITIONING*/
	
	body > .bg-gray .abso {
		top: 6rem;
		left: 0;
	}
	
	body > section:nth-child(2) {
		top: -2rem;
	}
	
	#about .col-1-2.abso {
		left: 6.5rem;
		bottom: -2rem;
	}
	
	
	/* 6.0 - CLIPPY */
	
		#home {
			height: 60vh;
			-webkit-clip-path: polygon(0 0, 100% 0%, 100% 55%, 0 50%);
			clip-path: polygon(0 0, 100% 0%, 100% 55%, 0 50%); 
		}

		body > div:first-child .bg-blue {
			-webkit-clip-path: polygon(0 0, 100% 0%, 100% 90%, 0 85%);
			clip-path: polygon(0 0, 100% 0%, 100% 90%, 0 85%);
		}

		body > div:first-child {
			-webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 95%);
			clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 95%);
		} 
	

		#adventure {
			-webkit-clip-path: polygon(0 0, 100% 5%, 100% 90%, 0 85%);
			clip-path: polygon(0 0, 100% 5%, 100% 90%, 0 85%);
		}
	
		#services .bg-gray {
			-webkit-clip-path: polygon(0 5%, 100% 0, 100% 60%, 0 65%);
			clip-path: polygon(0 5%, 100% 0, 100% 60%, 0 65%);
			height: 170vh;
		}

		#services .abso {
			-webkit-clip-path: polygon(0 5%, 100% 0, 100% 100%, 0% 100%);
			clip-path: polygon(0 5%, 100% 0, 100% 100%, 0% 100%);
		}

		.bg-gray:nth-child(5) {
			-webkit-clip-path: polygon(0 0, 100% 5%, 100% 100%, 0 95%);
			clip-path: polygon(0 0, 100% 5%, 100% 100%, 0 95%);
		}

		.gallery-cell {
			-webkit-clip-path: polygon(0 5%, 100% 0%, 100% 95%, 0 100%);
			clip-path: polygon(0 5%, 100% 0%, 100% 95%, 0 100%);
		}
	
		footer .bg-blue {
			-webkit-clip-path: polygon(0 0, 100% 5%, 100% 100%, 0 100%);
			clip-path: polygon(0 0, 100% 5%, 100% 100%, 0 100%);
		}
	
}

@media screen and (min-width: 480px) {

	#services .col-3-4, #services .col-1-4 .col-1-4, #about .col-3-4, #about .col-1-5 .col-1-4 {
		width: 100%;
	}
	
}

/*----------------------------------------------------

	7.0 - Browser Adjustments

----------------------------------------------------*/

@-moz-document url-prefix() {
	
	p, h3 {
		margin-top: 0;
		margin-bottom: 0;
	}
	
}